#app {
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.router-link-exact-active {
  font-weight: bold;
}
.router-link-active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

